---
layout: default
---
<main>
  <section class="section">
    <div class="container content">
      <h3>Published Papers</h3>
    </div>
    {% include paper.html paper="_research/published/lossaversion" %}
    {% include paper.html paper="_research/published/econographics" %}
    {% include paper.html paper="_research/published/franchise" %}
    {% include paper.html paper="_research/published/interestRatesMortalityDecline" %}
    {% include paper.html paper="_research/published/signaling" %}
    {% include paper.html paper="_research/published/mortality" %}
    {% include paper.html paper="_research/published/reform" %}
    
  </section>
  <section class="section">
    <div class="container content">
      <h3>Working Papers</h3>
    </div>
    {% include paper.html paper="_research/working/wtap" %}
    {% include paper.html paper="_research/working/wtap" %}
    {% include paper.html paper="_research/working/dose" %}
    {% include paper.html paper="_research/working/poorlaw" %}
  </section>
  <section class="section">
    <div class="container content">
      <h3>Work in Progress</h3>
    </div>
    <div class="container content">
      {{ site.research | where: "path", "_research/wip.markdown" }}
    </div>
  </section>
  <section class="section">
    <div class="container content">
      <h3>Other Publications</h3>
    </div>
    <div class="container content">
      {{ site.research | where: "path", "_research/other.markdown" }}
    </div>
  </section>
</main>
